body {
    background-image: url('https://cdn.pixabay.com/photo/2018/10/17/20/20/jesus-3754861_960_720.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  
